.about
{
    font-family: 'Quicksand', sans-serif;
    margin-bottom: 40px;
}

.about_title
{
    text-align: center;
    color: #d0d0d0;
    font-size: 3rem;
    margin: 2rem 0 1.25rem 0;
}

.about_description
{
    text-align: center;
    color: #d0d0d0;
    font-size: 1.25rem;
    margin: 0 0 2rem 0;
}

.about_description a
{
    text-decoration: underline;
    color: #789aff;
}

.about_all
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
}

.about_pairs
{
    width: 82%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.about_pairs:not(:last-child)
{
    margin-bottom: 25px;
}

@media only screen and (max-width: 1000px)
{
    .about_pairs
    {
        flex-direction: column;
        width: 90%;
    }

    .about_pairs:not(:last-child)
    {
        margin-bottom: 10px;
    }

    .about_pairs > div:not(:last-child)
    {
        margin-bottom: 10px;
    }
}