.skill_container
{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.skill_icon
{
    display: block;
    aspect-ratio: 1 / 1;
    flex-grow: 1;
    max-width: 33.33%;
    transform: scale(65%);
}