.infocard
{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    width: 45vw;

    background-color: #111111;
    border: 1px solid #d0d0d0;
    border-radius: 1rem;
    
    font-family: 'Quicksand', sans-serif;
    color: white;
}

.infocard_icon
{
    position: relative;

    width: 150px;
    height: 140px;

    padding: 15px 20px 15px 20px;
    margin: 5px 0 5px 0;

    flex-grow: 0;
}

.infocard::before
{
    content: "";

    position: absolute;
    width: 132px;
    height: 130px;
    top: 10px;
    left: 10px;

    background-color: rgba(190, 151, 255, 0.8);

    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}

.infocard_text
{
    display: flex;
    flex-direction: column;

    word-wrap: break-word;

    max-width: calc(45vw - 165px);
    width: 100%;
}

.infocard_title
{
    font-size: 2rem;

    padding: 5px;  

    color: #78a9ff;
    border-bottom: 1px solid #d0d0d0;
}

.infocard_description
{
    padding: 5px;

    font-size: 1.2rem;
}

@media only screen and (max-width: 850px)
{
    .infocard
    {
        width: 80vw;
    }

    .infocard_title
    {
        font-size: 1.5rem;
    }

    .infocard_text
    {
        max-width: 80vw;
    }

    .infocard_description
    {
        font-size: 1rem;
    }
}