.projects
{
    min-height: 500px;
}

.projects_title
{
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    color: #d0d0d0;
    font-size: 3rem;
    margin: 2rem 0 2.5rem 0;
}

.projects_cards_all
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.projects_card_rows
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 95%;
}

.projects_card_rows:not(:last-child)
{
    margin-bottom: 20px;
}

@media only screen and (max-width: 1000px)
{
    .projects_card_rows
    {
        flex-direction: column;
    }

    .projects_card_rows:not(:last-child)
    {
        margin-bottom: 10px;
    }

    .project_container:not(:last-child)
    {
        margin-bottom: 10px;
    }
}